:root {
  --primary-color: #FFFFFF;
  --primary-text-color: #2E2F42;
  --paragraf-text-color: #434455;
  --decoration-color-effects: #9747FF;
}

body {
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;   /* 24px; */
  background-color: var(--primary-color); 
}

/* common style values */
ul {
  list-style: none;
}

a {
  text-decoration-line: none;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;  /* 40px; */
  color: var(--primary-text-color);
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;  /* 24px; */
  color: var(--primary-text-color);
}

p {
  color: var(--paragraf-text-color);
}

h1:hover, h2:hover, h3:hover, p:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--decoration-color-effects);
}

 /* header block */
.header {
  background-color: var(--primary-color);
}

.logo-part1, .logo-part2 {
  font-family: 'Raleway';  
  font-weight: 800;
  font-size: 18px; 
  line-height: 1.33; 
  text-decoration-line: none;
}

.logo-part1 {
  color: #4D5AE5;
}

.logo-part2 { 
  color: var(--primary-text-color);
}

.navigation-link {
  color: var(--primary-text-color);
  text-decoration-line: none;
}

.logo-part1:hover, .logo-part1:hover,
.navigation-link:hover, .address-header:hover,
.logo-part1:focus, .logo-part1:focus,
.navigation-link:focus, .address-header:focus {
  text-decoration-line:underline;
  text-decoration-color: var(--decoration-color-effects);
  color: #4D5AE5;
}

.address-header {
  color: var(--paragraf-text-color);
}

.hero, .footer {
  background-color: var(--primary-text-color);
}

.hero h1 {
  color: var(--primary-color);
}

.peculiarities, .service, .portfolio-main {
  background-color: #E5E5E5;
}

/* for "Main Page" page */
.filter-button {
  background-color: #F4F4FD;
  cursor: pointer;
}

.filter-button:hover, .filter-button:focus {
  background-color: #4D5AE5; 
  color: #FFFFFF;
}

.team-cards {
  background-color: #F4F4FD;
}

.footer .logo-part2 {
  color: #F4F4FD;
}

.footer p {
  color: #E7E9FC;
}

/* for "Portfolio" page*/
.portfolio-main {
  color: var(--primary-text-color);
}


